*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kdam Thmor Pro;
}
:root{
    --main-color:#F2F3F4;
    --header-color:#5DADE2;
    --font-color:#1C2833;
    --intro-background-color:#21618C;
    --intro-font-color:#ffffff;
}
body{
    background-color: var(--main-color);
}
.bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:var(--header-color) ;
    padding: 20px;
}
.bar h1{
    margin-left: 120px;
    font-size: 50px;
    color: var(--font-color);
}
.bar .navigation {
    padding-right: 85px;
}
.bar .navigation a{
    margin-right: 80px;
    text-decoration: none;
    font-size: 25px;
    color: var(--font-color);
    font-weight: bold;
    transition:all 0.3s;
}
.bar .navigation a:hover{
    border: 1px solid var(--font-color);
    padding: 15px;
    border-radius: 15px;
    font-size: 30px;
    background-color: var(--font-color);
    color: var(--intro-font-color);
    font-weight: bold;
}

.Member-topic{
    border: 6px solid var(--font-color);
    border-radius: 15px;
    background-color:var(--intro-background-color) ;
    width: 25%;
    color: var(--header-color);
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction{
    margin-bottom: 30px;
    color: var(--intro-font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150vh;
    background-color: var(--intro-background-color);
    border: 20px solid var(--font-color);
    border-radius: 15px;
}
.introduction .information{
    padding: 15px;
}
.introduction hr{
    width: 90%;
}
.introduction img{
    padding: 20px;
    width: 20%;
    border-radius: 30px;
}